/home/ebrahim/Downloads/CS231n-Stanford%[[:space:]]Course/assignment1(copy)/Standford/cs231n/datasets/cifar-10-batches-py[[:space:]] filter=lfs diff=lfs merge=lfs -text
/home/ebrahim/Downloads/CS231n-Stanford%[[:space:]]Course/assignment1(copy)/Standford/cs231n/datasets/cifar-10-batches-py/data_batch_1 filter=lfs diff=lfs merge=lfs -text
/home/ebrahim/Downloads/CS231n-Stanford[[:space:]]Course/assignment1(copy)/Standford/cs231n/datasets/cifar-10-batches-py/data_batch_1 filter=lfs diff=lfs merge=lfs -text
/home/ebrahim/Downloads/CS231n-Stanford[[:space:]]Course/assignment1(copy)/Standford/cs231n/datasets/cifar-10-batches-py/data_batch filter=lfs diff=lfs merge=lfs -text
